<hr style="margin-top: 40px; margin-bottom: 40px;">
<h2>Tableau de bord</h2>

<div class="dashboard-cards">
  <div class="card">
    <h3>Chiffre d'affaires du jour</h3>
    <p>{{ dailyRevenue | currency:'XOF':'symbol':'1.2-2' }}</p>
  </div>
  <div class="card">
    <h3>Nombre de ventes du jour</h3>
    <p>{{ dailySalesCount }}</p>
  </div>
</div>

<div class="low-stock-alert">
  <h3>Médicaments proches de la rupture</h3>
  <div *ngIf="lowStockMedicines.length === 0">
    <p>Aucun médicament n'est proche de la rupture de stock. Tout va bien !</p>
  </div>
  <ul *ngIf="lowStockMedicines.length > 0">
    <li *ngFor="let medicine of lowStockMedicines">
      {{ medicine.name }} ({{ medicine.quantity }} en stock)
    </li>
  </ul>
</div>

<h3>Statistiques des ventes (Revenu Mensuel)</h3>
<div style="display: block; width: 800px;">
  <canvas baseChart
    [data]="barChartData"
    [options]="barChartOptions"
    [type]="barChartType">
  </canvas>
</div>